 .header {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     margin: 50px;
 }
 
 .header .title {
     font-size: 40px;
     font-weight: 600;
 }
 
 @media (max-width: 768px) {
     .header {
         margin: 10px;
         margin-bottom: 60px
     }
     .header .title {
         font-size: 30px
     }
 }