@import url("https://fonts.googleapis.com/css?family=Poppins:300,600&subset=latin-ext");

* {
  font-family: "Poppins", sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.container .header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px;
}

.container .header .title {
  font-size: 38px;
  font-weight: 600;
}

.container .header .search-input>input {
  width: 500px;
  height: 40px;
  padding-left: 20px;
  outline: none;
  font-family: "Poppins", sans-serif;
  text-align: center;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  border: none;
  background-color: white;
  margin: 30px;
  transition: 0.5s all ease-in-out;
}

.container .header .search-input>input:focus {
  transform: scale(1.2);
}

.container .header .btn {
  width: 200px;
  height: 50px;
  background: linear-gradient(130deg, #e2b0ff 0%, #9f44d3 100%);
  border-radius: 30px;
  color: white;
  border: none;
  outline: none;
  text-decoration: none;
  font-weight: 600;
  text-align: center;
  font-size: 18px;
  line-height: 2.8;
  transition: 0.5s all ease-in-out;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
}

.container .header .btn:hover {
  transform: scale(0.9);
}

.container .menu {
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  position: fixed;
  z-index: 1;
  overflow-x: hidden;
  transition: 0.5s;
  background-color: #9f44d3;
}

.container .nav {
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
}

.container .nav-item {
  margin: 10px;
  text-align: center;
}

.container .nav-link {
  font-size: 38px;
  padding: 10px;
  color: white;
  font-family: "Dosis", sans-serif;
  text-decoration: none;
  transition: 0.3s;
}

.container .nav-link:hover,
.container .closeBtn:hover {
  opacity: 0.5;
  transform: scale(1.2);
}

.container .closeBtn {
  position: absolute;
  top: 10px;
  width: 48px;
  height: 15px;
  cursor: pointer;
  right: 50px;
  font-size: 4rem;
  color: white;
  text-decoration: none;
  font-family: "Dosis", sans-serif;
  transition: 0.3s;
}

.container .post-area h1 {
  text-align: center;
  font-size: 24px;
  font-weight: 400;
}

.container .post-area .boxes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.container .post-area .boxes .box {
  position: relative;
  width: 300px;
  height: 300px;
  margin: 10px;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.container .post-area .boxes .box a {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.box .title {
  margin: auto;
  padding: 15px;
  width: 250px;
  font-size: 20px !important;
  text-align: center !important;
}

.body {
  margin: auto;
  font-size: 14px;
  text-align: center !important;
  width: 250px;
}

.PostText {
  margin: 50px;
}

@media (max-width: 768px) {
  .header {
    margin: 10px !important;
    margin-bottom: 60px !important;
  }

  .header .title {
    font-size: 30px !important;
  }

  .header .search-input>input {
    width: 250px !important;
    margin-top: -5px !important;
    margin-bottom: 20px !important;
  }

  .box .title {
    font-size: 18px !important;
  }

  .body {
    font-size: 13px;
  }

  .container .nav-link {
    margin-left: -25px;
    font-size: 32px;
    padding: 10px;
  }

  .container .closeBtn {
    position: absolute;
    top: 10px;
    cursor: pointer;
    right: 0;
    font-size: 3rem;
  }
}